#footer{
  bottom: 15px;
  position: fixed;
  right: 30px;
  z-index: 999;

  .footer-right{
    text-align: right;
  }
  .footer-actions{
    display: inline-block;
    margin-bottom: 35px;

    .footer-action{
      display: block;
      margin: auto;
      margin-bottom: 3px;
      padding: 5px;
      width: 28px;

      img{
        width: 100%;
      }
    }
  }
  .project-by{
    color: #999;
    display: flex;
    flex-direction: row;
    align-items: center;
    // margin-top: 50px;

    p{
      margin-bottom: 0px;
      font-size: 0.6rem;
      font-style: italic;
    }
    a{
      display: block;

      &.digi-logo{
        margin: 0.5rem;
        img{
          width: 2rem;
        }
      }
    }
    img{
      width: 2rem;
    }
  }
}

#headphone-icon{
  width: 32px !important;
}
#share-icon{
  margin-bottom: 8px !important;
}

.modal-backdrop.show {
  background-color: transparent;
  opacity: 1;
  z-index: -99999;
}

.modal-video {
  .modal-header .close {
    padding: .5rem 0;
    margin: 0;
  }
  .modal-content {
    background-color: transparent;
    border: 0;
    border-radius: 0;
  }
  .modal-header {
    border: 0;
    padding: 0;
  }
  .modal-body {
    padding: 0;
  }
}