#bands-scene{
  .description{
    margin-bottom: 8rem;
  }
  .scene-title{
    margin-bottom: 1.25rem;
  }
  .scene-value{
    color: #fff;
    position: absolute;
    top: 75%;
    left: 45%;
    transform: translateX(-50%) translateY(-50%);

    .percentage{
      font-size: 6rem;
      margin-bottom: 0;
      line-height: 1;
    }
    h4 {
      margin-bottom: 1rem;
    }
  }
  .left-info {
    display: inline-block;
    vertical-align: middle;
  }
  .cta-buttons {
    display: inline-block;
    vertical-align: middle;
    margin-top: 3rem;
    margin-left: 3rem;
  }
}

#bands-value{
  font-size: 8rem;
}