@font-face {
    font-family: 'Vidaloka Regular';
    src: url('../fonts/vidaloka-regular-webfont.eot');
    src: url('../fonts/vidaloka-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/vidaloka-regular-webfont.woff2') format('woff2'),
         url('../fonts/vidaloka-regular-webfont.woff') format('woff'),
         url('../fonts/vidaloka-regular-webfont.ttf') format('truetype'),
         url('../fonts/vidaloka-regular-webfont.svg#vidaloka_regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    background: #000 url('../../../images/preloader-bg.jpg') no-repeat center center;
}

#layout-header {
    position: relative;
    z-index: 999;
}

#layout-nav {
    background-color: transparent;
}
#page-contents {
    background-color: #ffffff;
}
.hamburger {
    padding: 15px 15px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, -webkit-filter;
    transition-property: opacity, filter;
    transition-property: opacity, filter, -webkit-filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
}

.hamburger:focus{
  outline: none;
}
.hamburger-label{
  color: #fff;
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  line-height: 1;
  font-size: 14px;
  vertical-align: top;
  display: inline-block;
  margin-top: 3px;
  margin-left: 10px;
}

.hamburger-box {
    width: 30px;
    height: 19px;
    display: inline-block;
    position: relative;
}

.hamburger-inner,
.hamburger-inner:before,
.hamburger-inner:after {
    width: 30px;
    height: 3px;
    background-color: #fff;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}

.hamburger--slider .hamburger-inner:before {
    top: 8px;
    transition-property: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 0.15s;
}

.hamburger-inner:before {
    top: -8px;
}

.hamburger-inner::after {
    bottom: -8px;
}

.hamburger--slider .hamburger-inner:after {
    top: 16px;
}

.hamburger-inner:before,
.hamburger-inner:after {
    content: "";
    display: block;
}

.hamburger--slider.is-active .hamburger-inner {
    transform: translate3d(0, 8px, 0) rotate(45deg);
}

.hamburger--slider.is-active .hamburger-inner:before {
    transform: rotate(-45deg) translate3d(-4.28571px, -5px, 0);
    opacity: 0;
}

.hamburger--slider.is-active .hamburger-inner:after {
    transform: translate3d(0, -16px, 0) rotate(-90deg);
}

.hamburger--slider .hamburger-inner {
    top: 1.5px;
}

.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -1.5px;
}

.align-items-center {
    align-items: center !important;
}

.justify-content-center {
    justify-content: center !important;
}

.navigation {
    flex-wrap: wrap;
}
.navigation.show {
    display: flex !important;
}
.flex-row {
    flex-direction: row !important;
}

.d-flex {
    display: flex !important;
}

#menu > .col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}

#menu {
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    height: 100vh;
    min-height: 100%;
    width: 100vw;
    min-width: 100%;
    margin: 0px;
    z-index: 888;
    top: 0;
    left: 0px;
}

#menu .menu-item {
    margin: 1rem 2rem;
}

#menu .menu-item a {
    color: #fff;
    font-family: "Vidaloka Regular", Georgia, "Times New Roman", Times, serif;
    padding: 15px;
    text-transform: uppercase;
    display: block;
    text-align: center;
    font-size: 32px;
    line-height: 1.2;
    transition: all 0.5s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

#menu .menu-item.active a {
    color: #cb003e;
}

.nav-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
}

#home-header {
    /* background-color: #935a56; */
}
#page-home #layout-nav {
    background: transparent;
}


#inner-footer .footer-right {
    text-align: right;
}

#inner-footer .footer-actions {
    display: inline-block;
    margin-bottom: 35px;
}

#inner-footer .footer-actions .footer-action {
    display: block;
    margin: auto;
    margin-bottom: 3px;
    padding: 5px;
    width: 28px;
}

#headphone-icon {
    width: 32px !important;
}
.modal-video .modal-content {
    background-color: transparent;
    border: 0;
    border-radius: 0;
}
.modal-video .modal-header {
    border: 0;
    padding: 0;
}
.modal-video .modal-body {
    padding: 0;
}
#share-icon {
    margin-bottom: 8px !important;
}
#inner-footer .footer-actions .footer-action img {
    width: 100%;
}
#inner-footer .project-by {
    color: #999;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#inner-footer .project-by p{
    font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
    color: #fff;
    margin-bottom: 0px;
    font-size: 1.2rem;
    font-style: italic;
}
#home-footer {
    position: relative;
}
#inner-footer {
    position: absolute;
    bottom: 20px;
    right: 0;
    z-index: 999;
}
#inner-footer .project-by a {
    display: block;
}
#inner-footer .project-by a.digi-logo {
    width: 40px;
    margin: 0.5rem;
}
#inner-footer .project-by a.digi-logo img {
    width: 36px;
}
#inner-footer .project-by img {
    width: 2.25rem;
}