body{
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
a:hover,
a:focus,
a:visited{
  text-decoration: none;
}
h1,
h2,
h3,
h4{
  font-family: Roboto Condensed, Helvetica, sans-serif;
  font-weight: 600;
}
html,
body,
h5,
h6,
p,
ul,
li,
a{
  font-family: Roboto Condensed, Helvetica, sans-serif;
  font-weight: 400;
}
p{
  line-height: 1.4;
}
#layout-nav{
  /* background-color: #935a56; */
  border-radius: 0px;
  height: 80px;
  margin-bottom: 0px;
  padding: 15px;
}
#layout-nav .navbar-brand{
  height: 50px;
  padding: 5px 0px;
}
#layout-nav .navbar-brand img{
  height: 100%;
  width: auto;
}
#layout-nav .navbar-right a{
  color: #fff;
  display: block;
  font-size: 16px;
  font-weight: 600;
  padding: 14px 15px;
}
#layout-nav .navbar-right a:hover,
#layout-nav .navbar-right a:focus,
#layout-nav .navbar-right a:active,
#layout-nav .navbar-right a:visited{
  background-color: transparent;
}
#layout-nav .navbar-right .fa{
  margin-right: 5px;
  font-size: 18px;
  top: 1px;
  position: relative;
}

#page-home #layout-nav{
  background-color: #000;
}

#home{
  /* background-color: #935a56; */
  color: #fff;
}

#home a{
  color: #fff;
}

#home-header,
#home-footer{
  text-align: center;
}

#home-header{
  /* background-color: #000; */
  /* margin-bottom: 60px; */
  padding: 50px 0px 15px;
}

#home #share{
  margin-bottom: 100px;
  display: inline-block;
}
/* #home-footer .btn-share .fa{
  font-size: 16px;
  margin-right: 3px;
} */
#home-header h1{
  font-size: 52px;
  font-family: 'Vidaloka Regular', Roboto Condensed, Helvetica, sans-serif;
  font-weight: 400;
  letter-spacing: 0.5px;
  margin: 0px 0px 15px;
  padding: 0px 20px;
}

#home-header p{
  font-size: 18px;
  line-height: 1.4;
  margin-bottom: 3px;
  padding: 0px 20px;
}

#home-header .youtube-video{
  height: 0;
  margin-top: 30px;
  margin-bottom: 30px;
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
}
#home-header .youtube-video iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#home-footer h2{
  font-size: 32px;
  font-family: 'Vidaloka Regular', Roboto Condensed, Helvetica, sans-serif;
  font-weight: 400;
  letter-spacing: 0.5px;
  margin-top: 75px;
  margin-bottom: 30px;
  padding: 0px 20px;
}

#prevention-tips .title{
  font-size: 30px;
  /* font-family: 'Vidaloka Regular', Roboto Condensed, Helvetica, sans-serif; */
  font-weight: 400;
  /* letter-spacing: 0.5px; */
  margin: 0px 0px 100px;
  padding: 0px 20px;
  text-align: center;
}

#prevention-tips .tips-wrapper:hover .tips-icon{
  bottom: 8px;
}

#prevention-tips .tips-container h2{
  font-size: 18px;
  line-height: normal;
  margin: 0px;
}

#prevention-tips .tips-container h3{
  font-size: 12px;
  margin: 0px;
  margin-bottom: 7px;
  opacity: 0.6;
}

#prevention-tips .tips-container i{
  font-size: 30px;
  margin-right: 5px;
  position: relative;
  top: 4px;
}

#prevention-tips .tips-container{
  text-align: center;
  margin-bottom: 75px;
}

#prevention-tips .tips-icon{
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  bottom: 0px;
  height: 130px;
  margin: 0px auto 15px;
  max-width: 100%;
  position: relative;
  width: 130px;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

#content-header{
  /* background-color: #935a56; */
  color: #fff;
  text-align: center;
  padding: 50px 15px 90px;
}
#content-header > .container{
  position: relative;
}
#content-header img{
  max-width: 230px;
  margin-bottom: 20px;
}

#content-header h2{
  font-size: 12px;
  opacity: 0.6;
  margin: 0px 0px 5px;
}
#content-header h1{
  font-size: 40px;
  font-family: 'Vidaloka Regular', Roboto Condensed, Helvetica, sans-serif;
  font-weight: 400;
  letter-spacing: 0.5px;
  margin: 0px;
}
#content-header .tips-nav{
  color: #fff;
  font-size: 48px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
#content-header .tips-nav.prev{
  left: 0px;
}
#content-header .tips-nav.next{
  right: 0px;
}
#page-contents{
  padding: 50px 0px;
}

#page-contents .left img{
  border: 1px solid #ddd;
  width: 100%;
}
#page-contents .right{
  /* color: #935a56; */
  padding-bottom: 70px;
  position: relative;
}

#page-contents .footer-nav{
  bottom: 0px;
  border-top: 1px solid #ccc;
  padding-top: 25px;
  position: absolute;
  right: 15px;
  width: calc(100% - 30px);
}

#page-contents .footer-nav a{
  color: #935a56;
}

#page-contents .footer-nav .fa{
  margin-right: 5px;
}

#page-contents .content {
  font-size: 15px;
}

#page-contents .content p {
  margin-bottom: 0px;
}

#page-contents .content ul{
  padding-left: 20px;
  list-style-type: none;
}

#page-contents .content ul > li{
  margin-top: 5px;
  position: relative;
}
#page-contents .content ul > li p{
  margin-bottom: 0px;
}

#page-contents .content ul > li:before{
  content: '\f058';
  font: normal normal normal 14px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  left: -20px;
  top: 2px;
  font-size: 18px;
}

#page-contents #share{
  margin-top: 30px;
}

/* #page-contents .btn-share{
  background-color: #3b5998;
  border-radius: 3px;
  color: #fff;
  padding: 6px 7px 5px;
  font-size: 11px;
} */

/* #page-contents .btn-share .fa{
  font-size: 13px;
  margin-right: 2px;
  position: relative;
} */

#modal-video .modal-backdrop.in {
  filter: alpha(opacity=7);
  opacity: 0.7;
}

#modal-video .modal-content {
  background: none;
  border: 0;
  -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
  -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}

#modal-video .modal-body {
  padding: 0 25px 25px 25px;
}

#modal-video .modal-header {
  padding: 25px 25px 15px 25px;
  text-align: right;
}

#modal-video .modal-header, #modal-video .modal-footer {
  border: 0;
}

#modal-video .modal-header .close {
  float: none;
  margin: 0;
  font-size: 36px;
  color: #fff;
  font-weight: 300;
  text-shadow: none;
  opacity: 1;
}

@media screen and (max-width: 767px){
  #home-header h1{
    font-size: 40px;
  }
  #content-header h1{
    font-size: 36px;
  }
  #page-contents .left{
    margin-bottom: 15px;
    text-align: center;
  }
  #page-contents .left img{
    max-width: 320px;
    width: 80%;
  }
  #share{
    text-align: center;
  }
  #page-contents .footer-nav{
    text-align: center;
  }
}