#bands-scene{
  .description{
    position: relative;
    margin-bottom: 2rem;
  }
  .scene-title{
    margin-bottom: 1.25rem;
  }
  .total-rape-cases {
    align-items: center;
    color: #fff;
    display: flex;
    opacity: 0; // animation starts
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translateX(-50%);
    width: 65%;

    h4 {
      font-size: 1.125rem;
      position: absolute;
    }
  }
  .scene-value{
    color: #fff;
    position: absolute;
    top: 80%;
    left: 45%;
    transform: translateX(-50%) translateY(-50%);

    .percentage{
      font-size: 6rem;
      margin-bottom: 0;
      line-height: 0.8;
    }
    h4 {
      margin-bottom: 1rem;
    }
  }
  .left-info {
    display: inline-block;
    vertical-align: middle;
  }
  .cta-buttons {
    display: inline-block;
    vertical-align: middle;
    margin-top: 3rem;
    margin-left: 3rem;
  }
}

#bands-value{
  font-size: 8rem;
}

#bands-top-line {
  width: 100%;

  img {
    width: 100%;
  }
}

#bands-bottom-line {
  opacity: 0;
  position: absolute;
  bottom: 29%;
  width: 130%;
  left: 56%;
  transform-origin: bottom center;
  transform: translateX(-50%);

  img {
    width: 100%;
  }
}