#bed-scene{
  .hidden{
    opacity: 0;
  }
  .left-info{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: flex-end;
    margin-top: 4rem;
    margin-right: 3.5rem;

    h2{
      color: #fff;
      font-size: 7rem;
      line-height: 0.75;
      margin-bottom: 0px;
      // text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);

      .small{
        font-size: 6rem;
      }
    }
    h4{
      // text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
      font-size: 1.55rem;
      color: #fff;
      margin-top: 0.5rem;
      // font-style: italic;
    }
  }
  .right-info{
    color: #fff;
    margin-top: 17%;

    .stats{
      position: relative;

      h3{
        margin-top: -40px;
        font-size: 6rem;
        line-height: 0.8;
        margin-bottom: 0.5rem;
      }
      h4{
        font-size: 1.25rem;
        margin-bottom: 0;
      }
      p{
        font-size: 1.25rem;
        font-style: italic;
      }
    }
  }
  .legend {
    margin-top: 2rem;

    .legend-title {
      font-size: 0.875rem;
    }
  }
  .cta-buttons{
    position: absolute;
    right: 3.5rem;
    bottom: -2.5rem;
  }
  .path{
    fill: none;
    stroke: #fff;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 0.75px;
    stroke-dasharray: 100;
    // stroke-dasharray: 100;
    // animation: dash 5s infinite;
  }
  .dashed-line{
    fill: none;
    stroke: #fff;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 0.75px;
    stroke-dasharray: 0.5,2;
    // stroke-dasharray: 100;
    // animation: dash 5s infinite;
  }
  .fill-white {
    fill: #fff;
  }
}

#bed #side-counter,
#bed #bed-counter {
  opacity: 0; // animation starts
}

#marker-line{
  opacity: 0; // animation starts
  height: 100%;
  display: flex;
  position: absolute;
  top: 53%;
  left: 61%;
  transform: translate(-50%, -50%);

  svg{
    height: 91%;
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 100;
  }
}