#board-scene{
  position: relative;

  .content {
    width: 100%;
  }
  .description{
    position: absolute;
    top: 17%;
  }
  .scene-value{
    color: #fff;
    display: inline-block;
    vertical-align: middle;
    // margin-top: 10%;
    // margin-left: 0%;

    .percentage{
      font-size: 6rem;
      margin-bottom: 0;
    }
  }
  .special-title{
    opacity: 0; // animation starts
    margin-bottom: -1.5rem;
    display: inline-block;
    vertical-align: baseline;

    h1{
      font-size: 9rem;
      display: inline-block;
      vertical-align: baseline;

      .symbol{
        font-family: Impact;
        font-size: 60%;
      }
    }
  }
  .right-info {
    display: inline-block;
    vertical-align: baseline;

    h2{
      opacity: 0; // animation starts
      font-size: 3.5rem;
      line-height: 0.8;
      display: inline-block;
      vertical-align: baseline;
      margin-left: 0.5rem;
      margin-bottom: 0.75rem;
    }
    h4 {
      font-size: 1.125rem;
      margin-left: 0.5rem;
      margin-bottom: 0;
      * {
        opacity: 0;
      }
    }
  }
  .cta-buttons {
    display: inline-block;
    vertical-align: middle;
    margin-left: 2rem;

    a {
      opacity: 0;
    }
  }

  .percentage {
    color: #fff;
    font-size: 3rem;
    transform: translate(-50%, -50%);

    .percent {
      font-size: 80%;
    }
  }
}

#board-value{
  font-size: 8rem;
}


#wechat-percentage {
  opacity: 0; // animation starts
  position: absolute;
  top: 84%;
  left: 25%;
}
#messenger-percentage {
  opacity: 0; // animation starts
  font-size: 2.5rem;
  position: absolute;
  top: 80%;
  left: 45%;
}
#beetalk-percentage {
  opacity: 0; // animation starts
  font-size: 2rem;
  position: absolute;
  top: 74%;
  right: 35%;
}
#whatsapp-percentage {
  opacity: 0; // animation starts
  font-size: 2rem;
  position: absolute;
  top: 67%;
  right: 20%;
}