#cabinet-scene{
  .description{
    margin-right: 2rem;
  }

  .scene-value{
    color: #fff;
    margin-bottom: 1.5rem;
    margin-top: -1rem;

    .percentage{
      font-size: 6rem;
      margin-bottom: 0;
    }
  }
  h2 {
    line-height: 0.8;
  }
  h4 {
    margin-bottom: 0;
  }
  .cta-buttons {
    margin-top: 2rem;
    text-align: left;
  }
}

#cabinet-value{
  font-size: 8rem;
}