#clock-scene{
  .description{
    margin-left: 2rem;
  }
  .scene-value{
    color: #fff;
    margin-bottom: 2rem;

    h2{
      font-size: 6rem;
      margin-top: -0.5rem;
    }
  }
  .legend {
    opacity: 1; // animation starts
    display: inline-block;
    vertical-align: top;

    &.legend-raped {
      opacity: 0; // animation starts
    }
    &.legend-under-16 {
      opacity: 0; // animation starts
    }
  }
  .cta-buttons {
    display: inline-block;
    vertical-align: top;
    margin-left: 5rem;
  }
}