#fan-scene{
  .content{
    color: #fff;
  }
  .scene-title{
    margin-bottom: 1rem;
  }
  .desc{
    font-size: 1.75rem;
    line-height: 0.9;
    // margin-top: 1rem;

    .letter{
      opacity: 0;
    }
  }
  .scene-value{
    font-size: 9rem;
    line-height: 1;
    margin-top: 0rem;
    margin-bottom: 1rem;
    transform-origin: bottom left;
    transform: translateX(-87%) scale(0.5);
  }
  .fill-white {
    fill: #fff;
  }
}
#dotted-line{
  width: 29%;
  position: absolute;
  top: 60%;
  left: 35%;
  transform: translateY('-50%');

  .point{
    opacity: 0;
  }
  .line{
    opacity: 0;
  }
}

// #fan-value{
//   font-size: 8rem;
// }