#lego-scene{
  .description{
    
  }
  .scene-value{
    color: #fff;
    text-align: right;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 51%;
    left: 73%;
    margin-top: -5rem;

    .percentage{
      // font-size: rem;
    }
  }
  .cta-buttons {
    color: #fff;
    text-align: right;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 42%;
    left: 90%;
  }
  h4 {
    margin-bottom: 0;
    font-size: 1.25rem;
  }
  h2 {
    font-size: 7rem;
    margin-bottom: 0;
    line-height: 0.8;
  }
  .legend {
    text-align: right;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 20%;
    left: 76%;

    .legend-title {
      margin-right: 0.5rem;
    }
  }
}

#lego-value{
  font-size: 9rem;
}

#lego-line {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 71%;
  left: 49.7%;
  margin-top: -5rem;
  opacity: 0;

  img {
    width: 70vw;
    min-width: 960px;
  }
}