#shelves-scene{
  .description{
    margin-bottom: 1rem;
    margin-top: -4rem;
  }
  .content {
    > .col-md-6 {
      align-items: flex-start;
      flex-direction: column;
      justify-content: center;
    }
  }
  .scene-value{
    color: #fff;
    white-space: nowrap;

    .percentage{
      opacity: 0; // animation starts
      font-size: 6rem;
      margin-bottom: 0;
    }
  }
  #shelves-counter {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.5rem;
    margin-bottom: 0px;

    overflow: hidden;
    height: 2.5rem;
    background-color: rgba(0, 0, 0, 0.2);
    border: 3px solid #fff;

    .digit {
      float: left;
      line-height: 1.25;
      transition: margin-top 1s ease;
      border-right: 3px solid #fff;
      padding: 0.5rem 0.3rem;
      text-align: center;

      &:last-child {
        border-right: 0px;
      }
    }
  }
  .right-info {
    display: inline-block;
    vertical-align: middle;
    margin-left: 1rem;
  }
  .desc {
    font-size: 1.25rem;
    margin-bottom: 0;
  }
  .center-info {
    color: #fff;

    h4 {
      opacity: 0; // animation starts
    }
    .left-info {
      display: inline-block;
      vertical-align: middle;
      position: relative;
    }
    .cta-buttons {
      display: inline-block;
      margin-left: 5rem;
      vertical-align: middle;
    }
  }
  h2 {
    font-size: 6rem;
    line-height: 0.8;
    margin-bottom: 0;
  }
}

#shelves-value{
  font-size: 8rem;
}

#shelves-line {
  opacity: 0;
  position: absolute;
  right: 103%;
  bottom: 31%;
}