@font-face {
  font-family: 'Vidaloka Regular';
  src: url('#{$base-font-path}/vidaloka-regular-webfont.woff2') format('woff2'),
       url('#{$base-font-path}/vidaloka-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}