#lego-scene{
  .description{
    
  }
  .scene-value{
    color: #fff;
    text-align: right;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 70%;
    margin-top: -5rem;

    .percentage{
      // font-size: rem;
    }
  }
  .cta-buttons {
    color: #fff;
    text-align: right;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 39%;
    left: 90%;
  }
  h4 {
    margin-bottom: 0;
  }
  h2 {
    font-size: 8rem;
    margin-bottom: 0;
    line-height: 1;
  }
  .legend {
    text-align: right;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 15%;
    left: 74%;

    .legend-title {
      margin-right: 0.5rem;
    }
  }
}

#lego-value{
  font-size: 10rem;
}