.hover-btn{
  display: inline-block;
  padding: 1rem;
  position: absolute;
  transition: all 3s cubic-bezier(0.19, 1, 0.22, 1);

  &.on-hover{
    transform: scale(1.3);
    // .icon-wrapper{
    //   background-color: transparent;
    //   border: 0px;
    // }
  }
  .icon-wrapper{
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 100%;
    border: 2px dotted rgba(255, 255, 255, 0.8);
    height: 3rem;
    padding: 0.25rem;
    position: relative;
    text-align: center;
    width: 3rem;
  }
  .icon{
    width: calc(100% - 0.25rem);
    display: block;
    height: auto;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all .5s ease;
  }
}