@import './media-queries';

$font-family-sans-serif: 'Roboto Condensed', Arial, Helvetica, sans-serif;
$font-family-serif: 'Vidaloka Regular', Georgia, 'Times New Roman', Times, serif;
$font-family-number: 'Vidaloka Regular', Georgia, 'Times New Roman', Times, serif;
$font-family-base: $font-family-sans-serif;

h1, h2, h3, h4{
  font-family: $font-family-serif;
}
body, p, a {
  font-family: $font-family-sans-serif;
}
.digits{
  font-family: $font-family-number;
}
body{
  background-color: #000;
}
.btn{
  border-radius: 0px;
  text-transform: uppercase;
  padding: 0.4rem 1.5rem;
}
.btn-default{
  border: 2px solid #fff;
  color: #fff;

  &.btn-sm{
    padding: 0.40rem 0.67rem 0.55rem 0.67rem;

    img{
      width: auto;
      height: 1.125rem;
    }
  }
  img{
    width: 30px;
  }
}