#board-scene{
  position: relative;

  .description{
    margin-top: 12%;
    // margin-left: -5%;
  }
  .scene-value{
    color: #fff;
    display: inline-block;
    vertical-align: middle;
    // margin-top: 10%;
    // margin-left: 0%;

    .percentage{
      font-size: 6rem;
      margin-bottom: 0;
    }
  }
  .special-title{
    margin-bottom: -1.5rem;
    display: inline-block;
    vertical-align: baseline;

    h1{
      font-size: 9rem;
      display: inline-block;
      vertical-align: baseline;

      .symbol{
        font-family: Impact;
        font-size: 6rem;
      }
    }
  }
  .right-info {
    display: inline-block;
    vertical-align: baseline;

    h2{
      font-size: 3.5rem;
      line-height: 0.8;
      display: inline-block;
      vertical-align: baseline;
      margin-left: 0.5rem;
      margin-bottom: 1rem;
    }
    h4 {
      font-size: 1rem;
      margin-left: 0.5rem;
      margin-bottom: 0;
    }
  }
  .cta-buttons {
    display: inline-block;
    vertical-align: middle;
    margin-left: 2rem;
  }

  .percentage {
    color: #fff;
    font-size: 3rem;
    transform: translate(-50%, -50%);

    .percent {
      font-size: 80%;
    }
  }
}

#board-value{
  font-size: 8rem;
}


#wechat-percentage {
  position: absolute;
  top: 84%;
  left: 27.5%;
}
#messenger-percentage {
  font-size: 2.5rem;
  position: absolute;
  top: 80%;
  left: 45%;
}
#beetalk-percentage {
  font-size: 2rem;
  position: absolute;
  top: 74%;
  left: 60%;
}
#whatsapp-percentage {
  font-size: 2rem;
  position: absolute;
  top: 67%;
  left: 74%;
}