.room-details{
  background-position: center center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 4;

  &.focused{
    z-index: 10;
  }

  // img.bg-image{
  //   position: absolute;
  //   top: 0px;
  //   left: 0px;
  //   width: 100vw;
  //   height: auto;
  // }
  video{
    width: auto;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .bg-overlay{
    background-image: radial-gradient(transparent 60%, #000 200%);
    pointer-events: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 5;
  }
  .content{
    position: relative;
    z-index: 10;
    height: 100%;
  }

  .cta-buttons{
    margin-left: -5px;
    white-space: nowrap;
    text-align: right;

    a{
      margin: 0px 5px;
    }
    img{
      width: 5.25rem;
      height: 5.25rem;
    }

    &.vertical-buttons {
      .btn-learn-stop {
        display: block;
        margin-left: auto;
      }
      .btn-default {
        margin-right: 1.6rem;
      }
    }
  }
  .scene-title{
    color: #fff;
    margin-bottom: 0.5rem;

    h5{
      text-transform: uppercase;
    }
    h6{
      font-size: 0.75rem;
      text-transform: capitalize;
      margin-bottom: 0px;
    }
  }
  .scene-value{
    h4{
      white-space: nowrap;
    }
  }
  p.desc{
    color: #fff;
    line-height: 1.2;
    font-weight: 400;
    margin-bottom: 1.5rem;
  }
  .btn-learn-stop{
    width: 6.25rem;
    height: 6.25rem;
  }
  .legend {
    &.vertical-legend {
      .legend-card {
        display: inline-block;

        &:last-child {
          margin-left: 2rem;
        }
      }
    }
  }
  .legend-card {
    margin-bottom: 0.625rem;
    .legend-image {
      display: inline-block;
      border: 2px solid #fff;
      width: 2.5rem;
      height: 2.5rem;
      vertical-align: middle;
    }
    .legend-title {
      color: #fff;
      display: inline-block;
      margin-left: 0.5rem;
      margin-bottom: 0;
      vertical-align: middle;
    }
  }
}

