.drag-progress{
  width: 30px;
  height: 30px;
}
.btn-drag{
  display: inline-block;
  transition: transform 0.1s ease;
  position: relative;
}
.arrow{
  line-height: 1;

  .arrow-line{
    background-color: red;
    height: 2px;
    border-radius: 5px;
    width: 50%;
    position: absolute;
    top: 50%;
    z-index: 100;
    left: 50%;
    transform: translate(0%, -50%);
  }
  .arrow-icon{
    background-color: red;
    border-radius: 100%;
    color: #000;
    display: inline-block;
    line-height: 0;
    padding: 0;
    position: absolute;
    left: 105%;
    top: 50%;
    transform: translate(-50%, -50%);

    span{
      display: inline-block;
      line-height: 15px;
      padding-left: 6px;
      position: relative;
      font-size: 15px;
      top: -1px;
      width: 15px;
    }
  }
}