@keyframes bounce {
  0%, 100% {
    transform: translate(-50%, -50%) scale(1.3);
  }
  40% {
    transform: translate(-50%, -50%) scale(1.5);
  }
  85% {
    transform: translate(-50%, -50%) scale(1.2);
  }
}

.hover-btn{
  display: inline-block;
  padding: 0rem;
  position: absolute;
  transition: all 0.3s ease;
  transform: translate(-50%, -50%);

  &:hover {
    .icon-wrapper {
      border-color: #ed1b24;
    }
  }
  &.on-hover{
    transform: translate(-50%, -50%) scale(1.3);
    // .icon-wrapper{
    //   background-color: transparent;
    //   border: 0px;
    // }
  }
  &.on-click { 
    animation: bounce .15s linear; 
  }
  .icon-wrapper{
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 100%;
    border: 2px dotted rgba(255, 255, 255, 0.8);
    height: 3rem;
    padding: 0.25rem;
    position: relative;
    text-align: center;
    transition: all 0.5s ease;
    width: 3rem;
    &.visited { opacity: .5; }
  }
  .icon{
    width: calc(100% - 0.25rem);
    display: block;
    height: auto;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all .3s ease;
  }
}

@include media("<desktop") { 
  .hover-btn .icon-wrapper {
    width: 2.2rem;
    height: 2.2rem;
  }
}