@import './../../../../../../bootstrap/customizations.scss';

.swipe-wrapper{
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 100%;
  border: 1px dashed;
  height: 35px;
  margin: 0px auto;
  position: relative;
  width: 35px;

  .swipe-line{
    background-color: red;
    content: '';
    height: 2px;
    left: 50%;
    position: absolute;
    transform: translateY(-50%);
    transition: all .5s ease;
    top: 50%;
    width: 50%;
  }
}
.arrow-icon{
  background-color: red;
  border-radius: 100%;
  color: #000;
  display: inline-block;
  line-height: 0;
  left: 105%;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all .5s ease;

  span{
    display: inline-block;
    line-height: 15px;
    padding-left: 6px;
    position: relative;
    font-size: 15px;
    top: -1px;
    width: 15px;
  }
}