@import './../../../../bootstrap/customizations.scss';

#preloader{
  height: 100vh;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100vw; 
  z-index: 100;

  .wrapper{
    background-image: url('./../assets/images/preloader-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all .5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }
  #music-notice{
    color: #999;
    font-size: 1.5rem;
    height: 35%;
    padding-bottom: 1.5rem;
    text-transform: uppercase;

    h6{
      font-size: 0.8rem;
    }
  }
  #statistics{
    height: 60%;
    margin: 0 auto;
    min-width: 19.5rem;
    width: 65%;
    h3{
      color: #fff;
      margin-bottom: 1rem;
      line-height: 1.418;

      .letter {
        display: inline-block;
        line-height: 1em;
      }
    }
    h5{
      text-transform: uppercase;
      color: #999;
      font-size: 1.2rem;
    }
  }
  #progress{
    bottom: 0px;
    left: 0px;
    height: 3px;
    position: fixed;
    transition: all .5s ease;
    width: 100%;

    &.fade-out{
      opacity: 0;
    }
  }
  .swipe{
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    visibility: hidden;

    &.fade{
      transition: all 1s ease;
    }
    &.in {
      opacity: 1;
      visibility: visible;
    }
    p{
      color: #999;
      font-size: 12px;
      margin-top: 0.75rem;
      text-transform: uppercase;
    }
  }
}