@import '../../bootstrap/customizations';

body {
  // cursor: none;
}

#init-loader{
  background-color: #000;
  height: 100vh;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100vw;
  z-index: 1000;
}
#page-home{
  overflow: hidden;
  height: 100vh;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100vw;
}

#preloader{
  z-index: 30;
}
#room{
  z-index: 20;
}
#dark-room{
  z-index: 10;

  &.focused{
    z-index: 4;
  }
}

#cursor{
  display: inline-block;
  opacity: 0;
  position: absolute;
  transform: translate(-50%, -50%);
  transition: transform .1s ease, width .5s ease;
  pointer-events: none;
  width: 35px;
  z-index: 9999;

  p{
    white-space: nowrap;
    color: #999;
    text-transform: uppercase;
    position: absolute;
    bottom: -15px;
    left: 50%;
    margin-bottom: 0px;
    font-size: 12px;
    transform: translateX(-50%);
  }
}