#shelves-scene{
  .description{
    margin-top: 6rem;
  }

  .scene-value{
    color: #fff;
    position: absolute;
    top: 15%;
    left: 35%;
    transform: translateX(-50%) translateY(-50%);

    .percentage{
      font-size: 6rem;
      margin-bottom: 0;
    }
  }
  #side-counter {
    display: inline-block;
    vertical-align: middle;
    font-size: 2.5rem;
    margin-bottom: 0px;
  }
  .right-info {
    display: inline-block;
    vertical-align: middle;
    margin-left: 1rem;
  }
  .desc {
    font-size: 1.25rem;
    margin-bottom: 0;
    
    * {
      opacity: 0;
    }
  }
  .center-info {
    color: #fff;

    .left-info {
      display: inline-block;
      vertical-align: middle;
    }
    .cta-buttons {
      display: inline-block;
      margin-left: 5rem;
      vertical-align: middle;
    }
  }
  h2 {
    font-size: 6rem;
    line-height: 1;
    margin-bottom: 0;
  }
}

#shelves-value{
  font-size: 8rem;
}