#dark-room{
  position: absolute;
  height: 100%;
  width: 100%;

  .room-bg {
    background-image: url('./../../assets/images/room-night.png');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: flex;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    // height: 100vh;
    // transition: all .0s ease;
    // width: 100vw;
    z-index: 1;
  }

  &.day .room-bg {
    background-image: url('./../../assets/images/room-day.png');
  }
  &.dusk .room-bg {
    background-image: url('./../../assets/images/room-dusk.png');
  }
  &.hidden{
    visibility: hidden;
    opacity: 0;
  }

  .window-day {
    position: absolute;    
    top: 15%;
    left: 55%;
    height: 30vh;
    z-index: 0;
  }

  .instruction{
    display: none;
    // display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 1.875rem;
    align-items: center;

    p{
      color: #fff;
      font-size: 14px;
      line-height: 1;
      margin-bottom: 0px;

      strong{
        font-weight: 700;
        text-transform: uppercase;
      }
    }
  }
  .day-component {
    position: absolute;
    width: 100%;
    top: 0%;
    left: 0%;
    height: 100%;
    mix-blend-mode: screen;
    z-index: 3;
  }
  .hold-icon{
    width: 1.875rem;
    height: 1.875rem;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 100%;
    border: 1px dotted #fff;
    margin-right: 5px;
    position: relative;

    .icon-core{
      background-color: #fff;
      border-radius: 100%;
      width: 30%;
      height: 30%;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .hover-btn{
    opacity: 0;
  }
  .quote{
    color: #fff;
    text-align: center;
    width: 44%;
    display: inline-block;
    position: absolute;
    top: 72%;
    left: 11%;
    transform-origin: 50% 100%;

    &:after {
      content: '';
      background: url(./../../assets/images/headline-shadow.png) no-repeat;
      position: absolute;
      bottom: -80px;
      width: 394px;
      height: 80px;
      left: 70px;
    }

    h2{
      font-size: 1.25rem;
      margin-bottom: 1.25rem;
    }
    h3{
      font-size: 1.25rem;
    }
  }
}
#data-points {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}
#ambience-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
#bed-icon{
  top: 64%;
  right: 23%;
}
#bands-icon{
  top: 46%;
  left: 17%;
}
#board-icon{
  top: 34%;
  left: 6%;
}
#cabinet-icon{
  top: 53%;
  left: 28%;
}
#shelves-icon{
  top: 41%;
  left: 36%;
}
#clock-icon{
  top: 29%;
  left: 48%;
}
#lego-icon{
  top: 55%;
  right: 32%;
}
#fan-icon{
  top: 43%;
  right: 17%;
}
#trophy-icon{
  top: 13%;
  right: 10%;
}
#easter-egg {
  display: inline-block;
  padding: 1rem;
  position: absolute;
  width: 3.5rem;
  height: 3.5rem;
  top: 35%;
  right: 27%;

  .react-player {
    display: none;
  }
}
#room-fixed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 3;
}
#room-items{
  // border: 1px solid #000;
  visibility: hidden;
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  transition: all 1s ease;

  &.visible {
    visibility: visible;
    transition: all 5s ease;
  }
}

#light-ray{
  pointer-events: none;
  mix-blend-mode: screen;
  position: absolute;
  width: 55%;
  top: 22%;
  left: 11%;
  // transition: all 2s ease;
  transform-origin: top right;
  // animation: light-ray-scale;
  // animation-duration: 12s;
  // animation-iteration-count: infinite;
  // animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  transform: scale(0.85) rotateZ(-7deg);
}
#bed-light{
  mix-blend-mode: overlay;
  position: absolute;
  top: 59%;
  left: 47%;
  width: 23%;
  transform: scale(0.85);
  // animation: bed-light-scale;
  // animation-duration: 12s;
  // animation-iteration-count: infinite;
  // animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}
#floor-light{
  top: 61%;
  left: 11%;
  width: 40%;
  position: absolute;
  transform: scale(0.85);
  // animation: floor-light-scale;
  // animation-duration: 12s;
  // animation-iteration-count: infinite;
  // animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}
#particles-js{
  position: absolute;
  top: 33%;
  left: 35%;
  width: 33%;
  height: 47%;
  // width: 100%;
}

@keyframes bed-light-scale{
  0%{
    transform: scale(0.85);
    opacity: 0.7;
  }
  50%{
    transform: scale(1.1);
    opacity: 1;
  }
  100%{
    transform: scale(0.85);
    opacity: 0.7;
  }
}

@keyframes floor-light-scale{
  0%{
    transform: scale(0.85);
    opacity: 0.7;
  }
  50%{
    transform: scale(1.1);
    opacity: 1;
  }
  100%{
    transform: scale(0.85);
    opacity: 0.7;
  }
}

@keyframes light-ray-scale {
  0%{
    transform: scale(0.85);
  }
  50%{
    transform: scale(1.1);
  }
  100%{
    transform: scale(0.85);
  }
}

@include media("<desktop") { 
  #dark-room {
    // .window-day {
    //   display: none; /*temp*/
    // }
    
    &.day .room-bg {
      background-image: url('./../../assets/images/room-day-tablet.png');
    }
    &.dusk .room-bg {
      background-image: url('./../../assets/images/room-dusk-tablet.png');
    }
    &.night .room-bg {
      background-image: url('./../../assets/images/room-night-tablet.png');
    }

    .quote h2,
    .quote h3 {
      font-size: .85rem;
    }
  }
}

@include media("<tablet") { 
  #dark-room {
    &.day .room-bg {
      background-image: url('./../../assets/images/room-day-mobile.png');
    }
    &.dusk .room-bg {
      background-image: url('./../../assets/images/room-dusk-mobile.png');
    }
    &.night .room-bg {
      background-image: url('./../../assets/images/room-night-mobile.png');
    }
  }
}