.room-details{
  background-position: center center;
  background-size: cover;
  height: 100%;
  // width: 100vw;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 4;

  &.focused{
    z-index: 10;
  }

  // img.bg-image{
  //   position: absolute;
  //   top: 0px;
  //   left: 0px;
  //   width: 100vw;
  //   height: auto;
  // }
  .video-player{
    width: 100% !important;
    height: 100% !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%; 
    min-height: 100%; 
  }
  video {
    width: 100% !important;
    height: auto !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .bg-overlay{
    background-image: radial-gradient(transparent 60%, #000 200%);
    pointer-events: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 5;
  }
  .content{
    position: relative;
    z-index: 10;
    height: 100%;
  }

  .cta-buttons{
    margin-left: -5px;
    white-space: nowrap;
    text-align: right;

    a{
      margin: 0px 5px;
    }
    .btn-learn-stop {
      img{
        width: 5.25rem;
        height: 5.25rem;
      }
    }
    .btn-share {
      position: relative;
      &:hover {
        .hover-share {
          display: block;
        }
      }
    }
    .hover-share {
      display: none;
      position: absolute;
      top: -40px;
      border-radius: 5px;
      background-color: #fff;
      margin-bottom: 0.625rem;
      left: 50%;
      transform: translatex(-50%);

      &:before {
        position: absolute;
        top: 1.75rem;
        left: 50%;
        transform: translateX(-50%);
        content: '';
        border-top: 10px solid #fff;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
      }
      .fa {
        font-size: 1.25rem;
        margin: 0.35rem 0.25rem;
        display: inline-block;
        color: #fff;
        width: 1.5rem;
        transition: all 0.5s ease;

        &.fa-twitter {
          color: #00aced;
        }
        &.fa-facebook {
          color: #3b5998;
        }
        &.fa-linkedin {
          color: #007bb6;
        }
        &.fa-whatsapp {
          color: #29a628;
        }

        &:hover {
          &.fa-twitter {
            color: #0087ba;
          }
          &.fa-facebook {
            color: #2d4373;
          }
          &.fa-linkedin {
            color: #005983;
          }
          &.fa-whatsapp {
            color: #1f7d1e;
          }
        }
      }
    }
    &.vertical-buttons {
      .btn-learn-stop {
        opacity: 0; // animation starts
        display: block;
        margin: 0px 0px 5px;
      }
      .btn-share {
        opacity: 0; // animation starts
        margin-right: 1.35rem;
        margin-top: 5px;
      }
    }
  }
  .scene-title{
    color: #fff;
    margin-bottom: 0.5rem;

    h5{
      text-transform: uppercase;
    }
    h6{
      font-size: 0.75rem;
      text-transform: capitalize;
      margin-bottom: 0px;
    }
  }
  .scene-value{
    h4{
      white-space: nowrap;
    }
  }
  p.desc{
    color: #fff;
    line-height: 1.2;
    font-weight: 400;
    margin-bottom: 1.5rem;
  }
  .btn-learn-stop{
    // width: 6.25rem;
    // height: 6.25rem;
  }
  .legend {
    opacity: 0; // animation starts

    &.vertical-legend {
      .legend-card {
        display: inline-block;

        &:last-child {
          margin-left: 2rem;
        }
      }
    }
  }
  .legend-card {
    margin-bottom: 0.625rem;
    .legend-image {
      display: inline-block;
      border: 2px solid #fff;
      width: 2.5rem;
      height: 2.5rem;
      vertical-align: middle;
    }
    .legend-title {
      color: #fff;
      display: inline-block;
      margin-left: 0.5rem;
      margin-bottom: 0;
      vertical-align: middle;
    }
  }
}

@include media("<desktop") { 
  .room-details video {
    width: 100%;
  }

  .for-desktop {
    // display: none;
  }
}

@include media(">desktop") { /*temp*/
  .for-mobile {
    display: none;
  }
}

@include media("<desktop") { 
  .room-details { 
    .content { 
      transform: scale(.65);
      left: 0;
      position: absolute;
      width: 100%;
    }
  }

  /* scenes fixes */  

  #cabinet-scene .content {
    top: 4%;
    .justify-content-end {
      justify-content: inherit !important;
    }
  }

  #bed-scene {
    .content {
      left: 9%;
    }

    #marker-line {
      left: 55%;
      top: 35vh;

      svg {
        height: 130vh;
      }
    }

    .cta-buttons {
      position: relative;
      right: inherit;
      bottom: inherit;
      text-align: left;
      top: 10px;

      &.vertical-buttons .btn-learn-stop {
        display: inline-block;
      }

      &.vertical-buttons .btn-share {
        margin-top: 0;
      }
    }
  }

  #board-scene {
    .content {
      top: -5vh;
    }

    .justify-content-center {
      margin-top: -10vh;
    }

    .cta-buttons {
      margin-right: -10rem;
    }

    #wechat-percentage { 
      left: 20%;
      top: 100%;
    }

    #messenger-percentage {
      left: 46%;
      top: 95%;
    }

    #beetalk-percentage {
      right: 25%;
      top: 86%;
    }

    #whatsapp-percentage {
      right: 6%;
      top: 77%;
    }
  }

  #bands-scene {
    .total-rape-cases {
      width: 100vw;
    }

    #bands-bottom-line {
      left: 49%;
      width: 70vw;
      overflow: hidden;
      height: 190px;
    }

    .scene-value {
      width: 100%;
      left: 55%;
      top: 90vh;
    }
  }

  #shelves-scene {
    .content {
      width: 120vw;
      left: 33vw;
    }

    .center-info .cta-buttons {
      margin-left: 2rem;
    }
  }

  #clock-scene {
    .content {
      width: 110vw;
    }
  }

  #lego-scene {
    .scene-value {
      left: initial;
      right: -20vw;
    }

    #lego-line {
      left: 52vw;
      top: 80vh;

      img {
        min-width: 100vw;
        width: 117vw;
      }
    }

    .legend {
      top: 0;
      left: initial;
      right: -16vw;
    }

    .cta-buttons {
      left: initial;
      right: -24vw;
      top: 33vh;
    }
  }

  #fan-scene {
    .content {
      right: -9vw;
      left: initial;
    }
  }

  #trophy-scene {
    .content {
      top: -12vh;
      width: 155vw;
      left: -25vw;
    }

    .cta-buttons {
      left: 66%;
      top: 18%;
    }

    .rank.first { top: 30%; left: 20vw; }
    .rank.second { top: 35%; left: 47vw; }
    .rank.forth { top: 56%; }
    .rank.fifth { top: 80%; left: 133vw; }
  }
  
}

@include media("<tablet") { 
  .room-details { 
    .content { 
      transform: scale(.6);
    }
  }

  #lego-scene .legend {
    top: -10vh;
  }
}