body, *:hover, *:active, *:visited {
  // cursor: url("../../assets/images/custom-cursor.png"), auto !important;
  cursor: none;
}

body {
  background-image: url('../../assets/images/preloader-bg.jpg');
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
}

#page {
  position: relative;
}

#init-loader{
  background-color: #000;
  height: 100vh;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100vw;
  z-index: 1000;
}
#screen-warning {
  background-image: url('./../../assets/images/preloader-bg.jpg');
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 9999;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
#ie-warning {
  background-image: url('./../../assets/images/preloader-bg.jpg');
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
#page-home{
  overflow: hidden;
  height: 100vh;
  left: 0px;
  right: 0px;
  position: relative;
  top: 0px;
  bottom: 0px;
  width: 100vw;
  box-shadow: 0 0 50px rgba(0,0,0,.75);
  /* protect ratio */
  margin: 0 auto;
  max-height: 100vh;
  max-width: calc(200vh * 1);
}

#preloader{
  z-index: 30;
}
#room{
  z-index: 20;
}
#dark-room{
  z-index: 10;

  &.focused{
    z-index: 4;
  }
}

#preload-files {
  display: none;
}

#cursor{
  display: inline-block;
  opacity: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: transform .1s ease, width .5s ease;
  pointer-events: none;
  width: 35px;
  z-index: 9999;

  p{
    white-space: nowrap;
    color: #999;
    text-transform: uppercase;
    position: absolute;
    bottom: -15px;
    left: 50%;
    margin-bottom: 0px;
    font-size: 12px;
    transform: translateX(-50%);
  }
}

@include media("<desktop") { 
  body {
    background-image: url('./../../assets/images/preloader-bg-tablet.jpg');
  }

  .hamburger {
    margin: 0 -18px;
  }

  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 20px;
    height: 2px;
  }

  .hamburger-box {
    width: 20px;
  }

  .hamburger--slider .hamburger-inner::before {
    top: 5px;
  }

  .hamburger--slider .hamburger-inner::after {
    top: 10px;
  }

  .hamburger--slider.is-active .hamburger-inner::after {
    transform: translate3d(0, -11px, 0) rotate(-90deg);
  }
}

@include media("<tablet") { 
  body {
    background-image: url('./../../assets/images/preloader-bg-mobile.jpg');
  }
}