#preloader{
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 100;

  .preloader-unmute {
    display: block;
    color: #f9e132;
  }
  .preloader-ended {
    visibility: hidden;
  }
  .wrapper{
    background-image: url('./../../assets/images/preloader-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all .5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }
  #music-notice{
    color: #999;
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
    text-transform: uppercase;

    h6{
      font-size: 0.8rem;
    }
  }
  #statistics{
    height: 60%;
    margin: 0 auto;
    h3{
      color: #fff;
      margin-bottom: 1rem;
      line-height: 1.418;

      .letter {
        display: inline-block;
        line-height: 1em;
      }
    }
    h5{
      text-transform: uppercase;
      color: #999;
      font-size: 1.2rem;
    }
  }
  #progress{
    bottom: 0px;
    left: 0px;
    height: 3px;
    position: absolute;
    transition: all .5s ease;
    width: 100%;

    &.fade-out{
      opacity: 0;
    }
  }
  .swipe{
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    visibility: hidden;

    &.fade{
      transition: all 1s ease;
    }
    &.in {
      opacity: 1;
      visibility: visible;
    }
    p{
      color: #999;
      font-size: 12px;
      margin-top: 0.75rem;
      text-transform: uppercase;
    }
  }
}

.vertical-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.screen-warning {
  padding: 0 3rem;
}

.ie-warning {
  padding: 0 3rem;
}

@include media(">desktop") { 
  #preloader {
   #statistics {
      min-width: 19.5rem;
      width: 65%;
    }

    #music-notice {
      height: 35%;
    }
  }
}

@include media("<desktop") { 
  #preloader {
    #statistics {
      padding: 0 5% 5%;
      height: inherit;

      h3 {
        font-size: 1.5rem;
      }

      h5 {
        font-size: .8rem;
      }
    }

    .swipe {
      bottom: 5%;
    }
  }

  .swipe-wrapper {
    display: none; /*temp*/
  }

  #page {
    background-image: url('./../../assets/images/preloader-bg-tablet.jpg');
  }
}

@include media("<tablet") { 
  #page {
    background-image: url('./../../assets/images/preloader-bg-mobile.jpg');
  }
}