body {
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
}

.modal-open .modal {
  background: rgba(0,0,0,.85);
}

#room{
  background-image: url('./../../assets/images/bright-room-bg.jpg');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: flex;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  
  .page-title{
    padding: 2rem 0;
    width: 100%;
    
    h2{
      color: #000;
      margin-bottom: 0;
    }
    .btn{
      margin: 1rem 0.625rem;
    }
  }
  .instruction{
    display: none;
    // display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 1.875rem;
    align-items: center;

    p{
      color: #fff;
      font-size: 14px;
      line-height: 1;
      margin-bottom: 0px;

      strong{
        font-weight: 700;
        text-transform: uppercase;
      }
    }
  }
  .hold-icon{
    width: 1.875rem;
    height: 1.875rem;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 100%;
    border: 1px dotted #fff;
    margin-right: 5px;
    position: relative;

    .icon-core{
      background-color: #fff;
      border-radius: 100%;
      width: 30%;
      height: 30%;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .quote{
    color: #fff;
    text-align: center;
    width: 44%;
    // opacity: 0.8;
    display: inline-block;
    position: absolute;
    top: 72%;
    left: 9%;
    // transform: perspective(300px) rotateX(25deg) skew(-24deg);
    transform-origin: 50% 100%;

    &:after {
      content: '';
      background: url(./../../assets/images/headline-shadow.png) no-repeat;
      position: absolute;
      bottom: -80px;
      width: 394px;
      height: 80px;
      left: 70px;
    }

    h2{
      font-size: 1.3rem;
      margin-bottom: 1.25rem;
    }
    h3{
      font-size: 1.3rem;
    }
  }
}
#light-ray{
  pointer-events: none;
  mix-blend-mode: screen;
  position: absolute;
  width: 55%;
  top: 24%;
  left: 14%;
  transition: all 2s ease;
  transform-origin: top right;
  animation: light-ray-scale;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  // transform: scale(0.8);
}
#bed-light{
  mix-blend-mode: overlay;
  position: absolute;
  top: 59%;
  left: 47%;
  width: 23%;
  animation: bed-light-scale;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}
#floor-light{
  top: 61%;
  left: 11%;
  width: 40%;
  position: absolute;
  animation: floor-light-scale;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}
#particles-js{
  position: absolute;
  top: 33%;
  left: 35%;
  width: 33%;
  height: 47%;
  // width: 100%;
}

@keyframes bed-light-scale{
  0%{
    transform: scale(0.85);
    opacity: 0.7;
  }
  50%{
    transform: scale(1.1);
    opacity: 1;
  }
  100%{
    transform: scale(0.85);
    opacity: 0.7;
  }
}

@keyframes floor-light-scale{
  0%{
    transform: scale(0.85);
    opacity: 0.7;
  }
  50%{
    transform: scale(1.1);
    opacity: 1;
  }
  100%{
    transform: scale(0.85);
    opacity: 0.7;
  }
}

@keyframes light-ray-scale {
  0%{
    transform: scale(0.85);
  }
  50%{
    transform: scale(1.1);
  }
  100%{
    transform: scale(0.85);
  }
}