$hamburger-padding-x                       : 15px;
$hamburger-padding-y                       : 15px;
$hamburger-layer-width                     : 30px;
$hamburger-layer-height                    : 3px;
$hamburger-layer-spacing                   : 5px;
$hamburger-layer-color                     : #fff;
$hamburger-layer-border-radius             : 4px;
$hamburger-hover-opacity                   : 0.8;
$hamburger-hover-transition-duration       : 0.15s;
$hamburger-hover-transition-timing-function: linear;

$hamburger-hover-use-filter: false;
$hamburger-hover-filter    : opacity(50%);

$hamburger-types: (
  slider,
);

@import '../../../../../node_modules/hamburgers/_sass/hamburgers/hamburgers';

.hamburger:focus{
  outline: none;
}
.hamburger-label{
  color: #fff;
  text-transform: uppercase;
  line-height: 1;
  font-size: 14px;
  vertical-align: top;
  display: inline-block;
  margin-top: 3px;
  margin-left: 10px;
}

#header{
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 999;

  .navbar-top{
    position: absolute;
    top: 15px;
  }
  .navbar-left{
    display: block;
    left: 25px;
  }
  .navbar-brand{
    height: 55px;
    display: block;
    padding: 0.5rem;

    img{
      display: block;
      height: 100%;
      width: auto;
    }
  }
  .navbar-right{
    right: 25px;
    position: absolute;
  }
  .detail-header{
    color: #fff;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;

    .detail-icon{
      background-color: rgba(0, 0, 0, 0.3);
      border-radius: 3rem;
      border: 2px dotted rgba(255, 255, 255, 0.8);
      padding: 0.25rem;
      margin-right: 0.6rem;

      img{
        width: 2.25rem;
      }
    }
    .detail-title{
      color: #fff;
      // display: inline-block;
      // margin-bottom: 0.5rem;

      h5{
        text-transform: uppercase;
        margin-bottom: 0px;
      }
      h6{
        font-size: 0.75rem;
        text-transform: capitalize;
        margin-bottom: 0px;
      }
    }
  }
}

#return-room{
  margin-top: 10px;

  .back-text{
    color: #fff;
    display: inline-block;
    font-size: 14px;
    vertical-align: middle;
  }
  .icon-wrapper{
    border: 2px dotted #fff;
    border-radius: 30px;
    display: inline-block;
    line-height: 1;
    margin-left: 10px;
    padding: 12px;
    text-align: center;
    vertical-align: middle;

    > span{
      color: #fff;
      font-weight: 600;
      font-size: 22px;
    }
  }
}