#footer{
  bottom: 15px;
  display: flex;
  justify-content: space-between;
  left: 0px;
  padding: 0px 1.25rem;
  position: absolute;
  width: 100%;
  z-index: 999;

  .footer-left {
    align-self: flex-end;
    opacity: 0;

    .source {
      color: #fff;
      font-size: 0.75rem;
      font-style: italic;
      margin-bottom: 0.5rem;
      opacity: 0.5;
    }
  }
  .footer-right{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 20px;
    bottom: 0px;
    transition: all .5s ease;

    &.hidden {
      opacity: 0;
      visibility: hidden;
    }
  }
  .footer-actions{
    align-self: flex-end;
    margin-bottom: 35px;
    position: absolute;
    bottom: 30px;
    right: 0px;

    .footer-action{
      color: #fff;
      display: block;
      margin: auto;
      margin-bottom: 3px;
      padding: 5px;
      width: 28px;

      img{
        width: 100%;
      }
    }
  }
  .footer-owner {
    align-self: flex-end;
  }
  .project-by{
    color: #999;
    display: flex;
    flex-direction: row;
    align-items: center;
    // margin-top: 50px;

    p{
      margin-bottom: 0px;
      font-size: 0.6rem;
      font-style: italic;
    }
    a{
      display: block;

      &.digi-logo{
        margin: 0.5rem;
        img{
          width: 2rem;
        }
      }
    }
    img{
      width: 2rem;
    }
  }
}

#language-icon{
  text-align: center;
  padding: 5px 0px;
}
#headphone-icon{
  width: 32px !important;
}
#share-icon{
  margin-bottom: 8px !important;
}

.modal-backdrop.show {
  background-color: transparent;
  opacity: 1;
  z-index: -99999;
}

.modal-video {
  .modal-header .close {
    padding: .5rem 0;
    margin: 0;
  }
  .modal-content {
    background-color: transparent;
    border: 0;
    border-radius: 0;
  }
  .modal-header {
    border: 0;
    padding: 0;
  }
  .modal-body {
    padding: 0;
  }
}

#headphone-icon {
  height: 28px;
}
#headphone-icon input[type="checkbox"] {
  display: none;
}
#headphone-icon input[type="checkbox"] + label {
  background-image: url('./../../assets/images/footer-headphone.svg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 22px;
  height: 18px;
}

#headphone-icon input[type="checkbox"]:checked + label {
  background-image: url('./../../assets/images/footer-headphone-muted.svg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 22px;
  height: 28px;
}

@include media("<desktop") { 
  #footer {
    .project-by a.digi-logo img,
    .project-by img {
      width: 1.5rem;
    }

    .footer-actions .footer-action {
      width: 25px !important;
    }

    .footer-left .source {
      font-size: .6rem;
    }
  }

  #headphone-icon input[type="checkbox"] + label,
  #headphone-icon input[type="checkbox"]:checked + label {
    width: 18px;
  }
}

#mobile-frame {
  position: absolute;
  top: -43px;
  z-index: 10;
  left: calc(50% - 1px);
  width: 275px;
  transform: translateX(-50%);

  img {
    display: block;
    width: 100%;
  }
}

#video-modal {
  background: #000;

  .modal-content {
    pointer-events: none;
  }
  .modal-body {
    position: relative;
    pointer-events: none;
  }
  .footer-player {
    height: auto !important;
    width: 100% !important;

    video {
      width: 100%;
    }
  }
}

@include media("<desktop") { 
  #mobile-frame {
    top: -30px;
    z-index: 10;
    left: calc(50% - 1px);
    width: 205px;
  }

  #video-modal {
    .modal-dialog {
      max-width: 600px;
      width: 600px;
    }
  }
}