#menu{
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0px;
  z-index: 888;
  top: 0;
  left: 0px;

  .menu-item{
    margin: 1rem 2rem;

    a{
      color: #fff;
      font-family: $font-family-serif;
      padding: 15px;
      text-transform: uppercase;
      display: block;
      text-align: center;
      font-size: 2rem;
      line-height: 1.2;
      transition: all 0.5s cubic-bezier(0.895, 0.03, 0.685, 0.22);

      &:hover{
        color: #cb003e;
      }
      &:hover, &:active, &:focus{
        text-decoration: none;
      }
    }
    &.active{
      a{
        color: #cb003e;
      }
    }
  }
}

@include media("<desktop") { 
  #menu .menu-item a {
    font-size: 1.4rem;
  }
}