#clock-scene{
  .description{
    margin-left: 2rem;
  }
  .scene-value{
    color: #fff;
    margin-bottom: 2rem;

    h2{
      font-size: 7rem;
      margin-top: -0.5rem;
    }
  }
  .legend {
    display: inline-block;
    vertical-align: top;
  }
  .cta-buttons {
    display: inline-block;
    vertical-align: top;
    margin-left: 5rem;
  }
}