<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")

    meta(property='og:title', content='Hidden In Plain Sight')
    meta(property='og:description', content="Every day, sexual crimes against children occur hidden in plain sight.")
    meta(property='og:site_name', content='Hidden In Plain Sight')
    meta(property='og:url', content='https:http://digi-cybersafe.tribalddb.com.my/')
    meta(property='og:image', content='https:http://digi-cybersafe.tribalddb.com.my/')
    meta(property='og:type', content='website')

    title Hidden In Plain Sight

    link(rel='icon', type='image/png', href='./images/favicon.png')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700')

    // Global site tag (gtag.js) - Google Analytics
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-110785491-1')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-110785491-1');
  body
    #root