#trophy-scene{
  .rank{
    color: #fff;
    opacity: 0;
    display: inline-block;
    white-space: nowrap;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;

    h2{
      font-size: 4rem;
      text-transform: uppercase;

      .ordinal{
        font-size: 40%;
        text-transform: lowercase;
        top: -2rem;
      }
    }
    &.first{
      top: 27%;
      left: 14%;
    }
    &.second{
      top: 30%;
      left: 32%;
    }
    &.third{
      top: 27%;
      left: 51.5%;
      opacity: 1;

      h2{
        font-size: 8rem;
        margin-bottom: 0;
        margin-top: 0.25rem;
        line-height: 1;
        opacity: 0;
      }
      h3{
        font-size: 18px;
        margin-bottom: 0px;
        // opacity: 0;
      }
      .ordinal {
        top: -4rem;
      }
    }
    &.forth{
      top: 42%;
      left: 71.5%;
    }
    &.fifth{
      top: 56%;
      left: 89.5%;
    }
  }
  .description{
    color: #fff;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    white-space: nowrap;
    top: 30%;
    left: 81%;
  }
  .cta-buttons {
    color: #fff;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    white-space: nowrap;
    top: 23%;
    left: 64%;
  }
}