#dark-room{
  background-image: url('./../assets/images/dark-room-bg.jpg');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: flex;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100vh;
  // transition: all .0s ease;
  width: 100vw;

  &.hidden{
    visibility: hidden;
    opacity: 0;
  }
  .instruction{
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 1.875rem;
    align-items: center;

    p{
      color: #fff;
      font-size: 14px;
      line-height: 1;
      margin-bottom: 0px;

      strong{
        font-weight: 700;
        text-transform: uppercase;
      }
    }
  }
  .hold-icon{
    width: 1.875rem;
    height: 1.875rem;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 100%;
    border: 1px dotted #fff;
    margin-right: 5px;
    position: relative;

    .icon-core{
      background-color: #fff;
      border-radius: 100%;
      width: 30%;
      height: 30%;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .hover-btn{
    opacity: 0;
  }
  .quote{
    color: #fff;
    text-align: center;
    width: 44%;
    // opacity: 0.2;
    display: inline-block;
    position: absolute;
    top: 72%;
    left: 9%;
    // transform: perspective(300px) rotateX(25deg) skew(-24deg);
    transform-origin: 50% 100%;
    h2{
      font-size: 1.25rem;
      margin-bottom: 1.25rem;
    }
    h3{
      font-size: 1.25rem;
    }
  }
}
#bed-icon{
  top: 60%;
  left: 72%;
}
#bands-icon{
  top: 40%;
  left: 15%
}
#board-icon{
  top: 21%;
  left: 3%;
}
#cabinet-icon{
  top: 29%;
  left: 28%;
}
#shelves-icon{
  top: 36%;
  left: 34%;
}
#clock-icon{
  top: 18%;
  left: 45%;
}
#lego-icon{
  top: 44%;
  left: 61%;
}
#fan-icon{
  top: 41%;
  left: 78%;
}
#trophy-icon{
  top: 11%;
  left: 83%;
}
#room-items{
  // border: 1px solid #000;
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  // transition: all 0.5s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}